/**
* Alumno: Victor Manuel Machado Egido.
*
* Centro Educativo: Escuela Virgen de Guadalupe.
*
* Ciclo Formativo: Desarrollo de Aplicaciones Web.
*
* Curso: 2020-2021.
*
* Descripcion del fichero: En este fichero esta estilos de la paginas, elemenos, etc.
*/

/* Fuente de texto */
*
{
    font-family: "Open Sans", sans-serif;
}

/* Poner un borde a todos los botones*/
button
{
    border-width: 1px;
}

/* Estilo de los enlaces en general */
a
{
    text-decoration: none;
    color: black;
}

/* Propiedad de los enlaces al pasar al lado suyo*/
a:hover {
    text-decoration: none;
    color: black;
}


/* Estilos de la cabezera*/
#cabezera
{
    background-image: url(../imagenes/slide00.jpg); 
    background-size: cover;
    background-position: center center;
    height: 416px;
    transform: translate(0px, -19.6125px);
    width: 100%;
}

/* Estilo de la cabezera, el titulo*/
.cabezera-titulo
{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 75px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}

/* Estilo para la raya separadora */
.rayas
{
    width: 16%;
    margin: 14px auto 14px auto;
    color: #006293;
    height: 4px!important;
    font-family: "Roboto", sans-serif;
}

/* Estilo para bloquear el paddint-top de boostrap a la contenedor*/
.cancelarpaddingtop
{
    padding-top: 0!important;
}

/* Propiedades del footer*/
footer
{
    background-color: #025179;
    margin-bottom: 0px!important;
    color: white;
    text-decoration: none;
    font-size: 15px;
}

 /* Quitar la decoracion y ponerlo blanco a los enlaces del footer*/
footer a
{
    color: white;
    text-decoration: none;
}

/*Cancela el margon bottom, que le da el footer, el boostrap*/
.cancelarmarginbottom
{
    margin-bottom: 0!important;

}
/* Propiedades de los enlaces de las redes sociales en general*/
.redessociales a
{
    font-size: 19px;
    display: inline;
    margin-right: 20px;
}
/* Propiedad de de las cajas redessociales */
.redessociales
{
    padding-right: 1px;
}

/* Definir una anchura a las cartas/card*/
.cardtamano
{
    width: 390px;
}

/* Definir un margen entre los botones de las card/cartas */
.cardbotones
{
    margin-left: 10px;
}

/*Boton para agregar un grupo o crear.*/
.botonagregar
{
    background: transparent;
    position: fixed;
    bottom: 10px;
    right: 1px;
    border: 0 transparent;
}


/*Seperacion del label, de la ventana modal invitar*/
.labelinvitar
{
    margin-top: 9px;
    margin-right: 4px;
}

/* Margen del input invitar */
.inputinvitar
{
    margin-right: 6px;
}


/* Propiedad de alineamiento del texto hacia la izquierda */
.parrafoizquierda
{
	text-align: left!important;
}